/* particles */




/* particles */

header{
    background-image: url(images/wave2.svg);
    background-repeat:no-repeat ;
    background-size: cover;
    height:100vh ;
}
nav{
    background-color: #1282E7;
    padding: 2rem!important;
}
.navbar-brand{
    color: #fff;
}
.nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 13px;
}
.nav-link:hover{
    color: #FF366B;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #fff;
}
.navbar-toggler{
    color: #fff;
}
.navbar-toggler-icon {
    /* border: 2px solid #fff; */
}
.btn{
    background-color: #FF366B;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid #FF366B;
    border-radius: 5px !important;
    padding: 12px 39px 12px 39px;
    height: 52px;
    width: 177px;
}
.btn:hover{
    background-color: #fff!important;
    color: #FF366B!important;
}

.hero-title{
    padding-top:70px ;
}


.play {
    margin-top: -480px;
    position: relative;
    z-index: 1;
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .play{
        margin-top: -345px;
    }
}

.play-thumb__wrapper {
    position: relative;
    z-index: 1;
}
.play-thumb__wrapper{
    
    transform: skew(0deg, 2deg);
}
.play-thumb {
    -webkit-mask-image: url(images/hero-image-2.jpg);
    mask-image: url(images/hero-image-2.jpg);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: relative;
    z-index: 1;
    
    border-radius: 65px 56px 53px 66px;
}

.play-thumb::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    /* background-color: #080C3C; */
    /* opacity: .3; */
}
@media (max-width: 991px){
.play-button {
    width: 80px;
    height: 80px;
}}

.play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #FF366B;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

a {
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    color: #617686;
}

.play-thumb__wrapper .play-border {
    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: -1;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.play-button__icon {
    color: #fff;
    font-size: 30px;
}

.play-button::before {
    position: absolute;
    content: "";
    width: 120%;
    height: 120%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF366B;
    z-index: -1;
    -webkit-animation: play 1.5s linear infinite;
    animation: play 1.5s linear infinite;
}


@keyframes play{
    0%{
    box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168);}
    
    50%{
    box-shadow: 5px 5px 20px rgb(81, 224, 210),-5px -5px 20px rgb(81, 224, 210)
    }
    100%{
    box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168)
    }
}


  
  /* about us section  */
  .pt-120 {
    padding-top: 60px;
}
.pb-60 {
    padding-bottom: 30px;
}
.about-two-thumb {
    position: relative;
    z-index: 1;
}
.about-two-thumb__img {
    -webkit-mask-image: url(images/blob4.svg);
  mask-image: url(images/blob4.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
  -webkit-mask-position: center;
  mask-position: center;
  width: 100%;
}
 img{
    
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    
}

.about-two-thumb .about-border {
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: -1;
}
.section-heading.style-two {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}
.section-heading {
    text-align: center;
    margin-bottom: 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.section-heading__top-title {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.section-heading__top-title::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 54, 107, 0.3);
    z-index: -1;
    border-radius: 50px;
}

.section-heading__title {
    margin-bottom: 30px;
}
.section-heading__subtitle {
    font-size: 22px;
    font-weight: 400;
    color: #617686;
}
.section-heading__desc {
    margin-top: 25px;
    font-size: 18px;
}
.about-right__desc {
    font-size: 22px;
    color: #181d20;
}
  /* about us section  */

/* feature section style  */

/* feature section style  */
.author-details{
    text-align: left;
}

.feature-two-thumb__img{
    -webkit-mask-image: url(images/blob5-2.svg);
  mask-image: url(images/blob5-2.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
  -webkit-mask-position: bottom;
  mask-position: bottom;
  width: 100%;
}


/* services section  */

.service-temp{
    border-radius: 0px 0px 20px 0;
    background: #fff;
    box-shadow:  5px 5px 16px #e0e0e0,
             -5px -5px 16px #ffffff;
}
.service-temp-title{
    color: #1282E7;
    font-weight: 500;
}
/* services section  */

/* what client says about us  */

.carousel-inner{
    background-color: #1282E7;
    padding: 30px;
    border-radius: 5px;
}



.card-container{
    width: 100%;
  margin: auto;
  max-width: 700px;
  position: relative;
  padding: 20px;
border-radius: 28px;
background: linear-gradient(145deg, #1075d0, #138bf7);
box-shadow:  50px 50px 65px #0d5ca4,
             -50px -50px 65px #17a8ff;
}
.card-img{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-234%, 36%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgb(108, 68, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}
.card-img img{
    display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    
}
.card-text-container{
    margin-left: 90px;
    margin-top: -105px;
    color: #fff;
    /* margin-bottom: auto; */
}



/* what client says about us  */

/* contact form  */
.contact-form-container{
    background-color: #1282E7;
    color: #fff;
    border-radius: 10px;
}

.value{
    font-weight: 500;
    font-size: 40px;
    /* color: #fff; */
}
.value-details{
    /* color: #617686; */
    font-size: 19px;
    margin-left: 5px;
}
/* contact form  */
/* footer  */
.footer-container{
    background-image: url("/images/wave2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


/* back office support  */

.solution-card{
    border-radius: 30px 0 30px 0;
    padding: 25px;
    background-color: #1282E7;
    margin: 10px 0;
    color: white;
    /* margin: 10px; */
    /* line-height: 20px; */
    /* From https://css.glass */
/* background: rgba(18, 130, 231, 0.43); */
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
}

.solution-card:hover{
    border-radius: 0 30px 0 30px;
}




/* back office support  */



/* footer  */
  /* media queries */


  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .logo{
        height: 60px!important;
    }
    .statistics{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .author-details{
        text-align: center;
    }
    .author{
        justify-content: center;
    }
    .feature-section{
        flex-direction: column-reverse;
    }
    .service-temp{
        flex-direction: column;
        text-align: center;
    }
    .service-temp-title{
        margin-top: 20px;
    }
    .service-temp-desc{
        text-align: left;
    }
    .card-text-container{
        text-align: center;
        margin: 0;
        padding: 0;
        text-align: justify;
    }
    .card-img {
        transform: translate(0, -40%);
    }
    .carousel-inner{
        padding: 70px 10px;
    }
    .value{
        font-size: 24px;
    }
    .value-details{
        font-size: 18px;
        margin-left: 10px;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .play{
        margin-top: -400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .play{
        margin-top: -420px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
  /* media queries */

  @media (min-width: 992px)
{.pb-60 {
    padding-bottom: 60px;
}}

@media (min-width: 576px)
{.pb-60 {
    padding-bottom: 40px;
}}

@media (min-width: 992px)
{.pt-120 {
    padding-top: 120px;
}}

@media (min-width: 576px)
{.pt-120 {
    padding-top: 80px;
}}

@media (max-width: 1199px)
{.section-heading.style-two {
    margin-bottom: 45px;
}}

@media (max-width: 1199px)
{.section-heading {
    margin-bottom: 45px;
    max-width: 100%;
}}

@media (min-width: 992px)
{.ps-lg-3 {
    padding-left: 1rem!important;
}}
@media (max-width: 1199px)
{.section-heading.style-two {
    margin-bottom: 45px;
}}
@media (max-width: 1199px)
{.section-heading {
    margin-bottom: 45px;
    max-width: 100%;
}}